spring:
  application:
    name: notification_service

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.transport.protocol: smtp
     # mail.debug: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        #Spring automatically sends ACK or NACK
        #to RabbitMQ based on whether your listener method completes successfully (ACK)
        #or throws an exception  (NACK)
        acknowledge-mode: auto
        default-requeue-rejected: false
        prefetch: 10

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s
server:
  port: 2024

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
